
body {
 
  /* font-size: 18px; */
  line-height: 1.5;

  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  background-color: yellow;
 
}

* {
  box-sizing: border-box;
}

#header {
	background: #cccccc;
	text-align: center;
	height: 75px;
	font-size: 24px;
	margin-bottom: 5px;
}
.row {
	display: inline-box;
	height: 125px;
}
.demoBox {
	height: 120px;
	width: 120px;
	float: left;
	margin-left: 2px;
}
/* border attributes of the demoBox */

.bd-green {
	border-color: green;
}
.bd-black {
	border-color: black;
}
.bd-visible {
	border-width: 2px;
	border-style: solid;;
}
.bd-invisible {
	border: none;
}
/* background atributes of demoBox */
.bg-white {
	background-color: white;
}
.bg-black {
	background-color: black;
}
.bg-red {
	background-color: red;
}
/*
.bg-transparent {
	opacity: 0;
}
*/
/*
.emptyBox {
	height: 120px;
	width: 120px;
	float: left;;
	margin-left: 2px;
}
*/
/*
button {
	border: none;
	background: green;
	color: #ffffff;
}
*/
h2 {

	font-size: 20px;
}
h3 {
	font-size: 14px;
}
